<footer class="footer">
  <div class="container">
    <p class="doubt">Dúvidas? Ligue 0800-761-4631</p>
    <div class="footerLinks">
      <ul>
        <li><a href="#">Perguntas frequentes</a></li>
        <li><a href="#">Relação com investidores</a></li>
        <li><a href="#">Formas de assistir</a></li>
        <li><a href="#">Informações corporativas</a></li>
        <li><a href="#">Só na Netflix</a></li>
      </ul>
      <ul>
        <li><a href="#">Centro de ajuda</a></li>
        <li><a href="#">Carreiras</a></li>
        <li><a href="#">Termos de uso</a></li>
        <li><a href="#">Entre em contato</a></li>
      </ul>
      <ul>
        <li><a href="#">Conta</a></li>
        <li><a href="#">Resgatar cartão pré-pago</a></li>
        <li><a href="#">Privacidade</a></li>
        <li><a href="#">Teste de velocidade</a></li>
      </ul>
      <ul>
        <li><a href="#">Imprensa</a></li>
        <li><a href="#">Comprar cartão pré-pago</a></li>
        <li><a href="#">Preferências de cookies</a></li>
        <li><a href="#">Avisos legais</a></li>
      </ul>
    </div>
    <p class="brand">Netflix Brasil</p>
  </div>
</footer>
