<section *ngIf="direction === 'left'" class="promotionGuide">
  <div class="left">
    <div class="text">
      <h1>{{ title }}</h1>
      <p>
        {{ text }}
      </p>
    </div>
  </div>
  <div class="right">
    <div class="image">
      <img src="assets/images/{{ image }}" />
    </div>
  </div>
</section>

<section *ngIf="direction === 'right'" class="promotionGuide">
  <div class="left bottom-text">
    <div class="image">
      <img src="assets/images/{{ image }}" />
    </div>
  </div>
  <div class="right top-text">
    <div class="text">
      <h1>{{ title }}</h1>
      <p>{{ text }}</p>
    </div>
  </div>
</section>
