<app-header></app-header>

<app-promo
  direction="left"
  title="Aproveite na TV."
  image="tv.gif"
  text=" Assista em Smart TVs, Playstation, Xbox, Chromecast, Apple TV, aparelhos de
Blu-ray e outros dispositivos."
>
</app-promo>

<app-promo
  direction="right"
  title="Baixe séries para assistir offline."
  image="mobile.gif"
  text="Salve seus títulos favoritos e sempre tenha algo para assistir."
>
</app-promo>

<app-promo
  direction="left"
  title="Assista quando quiser."
  image="devices.gif"
  text="Assista no celular, tablet, Smart TV ou notebook sem pagar a mais por isso."
>
</app-promo>

<app-promo
  direction="right"
  title="Crie perfis para crianças."
  image="kid.png"
  text=""
>
</app-promo>

<app-footer></app-footer>
