<nav class="navbar">
  <a [routerLink]="['/']" class="nav-logo">
    <img src="https://netflix-angular.vercel.app/assets/images/logo.png" />
  </a>
  <ul class="nav-menu">
    <li class="nav-item">
      <a [routerLink]="['/']" class="nav-link active">Início</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/']" class="nav-link">Séries</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/']" class="nav-link">Filmes</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/']" class="nav-link">Bombando</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/']" class="nav-link">Minha lista</a>
    </li>
  </ul>
  <div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</nav>
