<header>
  <nav>
    <div class="logo">
      <a href="/">
        <img src="assets/images/logo.png" />
      </a>
    </div>
  </nav>
  <div class="container">
    <h1>
      Filmes, séries e muito<br />
      mais. Sem limites.
    </h1>
    <p class="promo">Assista onde quiser. Cancele quando quiser.</p>
    <p class="action">
      Pronto para assistir? Clique no botão abaixo para ser redirecionado para a
      tela de login.
    </p>
    <a href="/login" class="btn">Entrar</a>
  </div>
</header>
