<div class="login-form">
  <h2>Entrar</h2>
  <form>
    <div class="form-control">
      <input type="text" placeholder="Email ou número de telefone" />
      <p class="warning-text">
        Informe um e-mail ou número de telefone válido.
      </p>
    </div>
    <div class="form-control">
      <input type="password" placeholder="Senha" />
      <p class="warning-text">A senha deve ter entre 4 e 60 caracteres.</p>
    </div>
    <button>Entrar</button>
    <footer>
      Esta página é protegida pelo Google reCAPTCHA para garantir que você não é
      um robô. <a href="#">Saiba mais.</a>
    </footer>
  </form>
</div>
