<app-header></app-header>

<app-promo-left
  title="Aproveite na TV."
  image="tv.png"
  text=" Assista em Smart TVs, Playstation, Xbox, Chromecast, Apple TV, aparelhos de
Blu-ray e outros dispositivos."
>
</app-promo-left>

<app-promo-right
  title="Baixe séries para assistir offline."
  image="mobile.png"
  text="Salve seus títulos favoritos e sempre tenha algo para assistir."
>
</app-promo-right>

<app-promo-left
  title="Assista quando quiser."
  image="devices.png"
  text="Assista no celular, tablet, Smart TV ou notebook sem pagar a mais por isso."
>
</app-promo-left>

<app-promo-right title="Crie perfis para crianças." image="kid.png" text="">
</app-promo-right>

<app-footer></app-footer>
