<div class="container">

  <div class="profilesContainer">

    <h1 class="title">
      Quem está assistindo?
    </h1>

    <ul class="profiles">

      <li class="profile">
        <a class="link">
          <div class="imgContainer">
            <img class="img">
          </div>
        </a>
        <span class="name">Usuário 1</span>
      </li>

      <li class="profile">
        <a class="link">
          <div class="imgContainer">
            <img class="img">
          </div>
        </a>
        <span class="name">Usuário 2</span>
      </li>

      <li class="profile">
        <a class="link">
          <div class="imgContainer">
            <img class="img">
          </div>
        </a>
        <span class="name">Usuário 3</span>
      </li>

      <li class="profile">
        <a class="link">
          <div class="imgContainer">
            <img class="img">
          </div>
        </a>
        <span class="name">Usuário 4</span>
      </li>

    </ul>

  </div>

</div>
