.profiles-screen {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.header-logo {
  background: #141414;
  padding: 2rem;
  padding-left: 5vw;
}

.container {
  width: 100vw;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #141414;
}

.profilesContainer {
  max-width: 80%;
  margin-bottom: 5%;
}

.title {
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 44px;
  margin-bottom: 2rem;
}

.profiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.profile {
  width: 150px;
  margin: 2rem;
  list-style-type: none;
}

.profile:hover {
  cursor: pointer;
}

.profile:hover div.imgContainer {
  border-color: white;
}

.profile:hover div.imgContainer img {
  border-radius: 0;
}

.profile:hover span.name {
  color: white;
}

.imgContainer {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  border: 3px solid transparent;
}

.img {
  width: 100%;
  border-radius: 4px;
}

.name {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: grey;
  margin: 0.6em 0;
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }

  .profile {
    width: 125px;
  }

  .imgContainer {
    width: 125px;
    height: 125px;
  }

  .header-logo {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}
