

<header>
  <div class="container">
    <nav>
      <div class="logo">
        <a [routerLink]="['/catalog']">
          <img src="/assets/images/logo.png" alt="Netflix Logo" />
        </a>
      </div>
      <ul>
        <li><a [routerLink]="['/catalog']">Início</a></li>
        <li><a [routerLink]="['/catalog']">Séries</a></li>
        <li><a [routerLink]="['/catalog']">Filmes</a></li>
        <li><a [routerLink]="['/catalog']">Bombando</a></li>
        <li><a [routerLink]="['/catalog']">Minha lista</a></li>
      </ul>
    </nav>

    <div id="title">
      <img src="/assets/images/title.png" alt="Netflix Logo" />
    </div>

    <div class="info">
      <div id="topToday">
        <div id="top10">
          <p>TOP</p>
          <p>10</p>
        </div>
        <p>Brasil: Top 2 de hoje</p>
      </div>

      <div id="description">
        Um agente do FBI persegue o ladrão de arte mais procurado do mundo. Ele
        só não esperava ter seu alvo como parceiro para prender uma bandida
        muito esperta.
      </div>

      <div class="btnOptions">
        <button class="btn white">
          <img src="assets/images/play.png" />
          <span>Assistir</span>
        </button>
        <button class="btn gray">
          <img src="assets/images/info.png" />
          <span>Mais informações</span>
        </button>
      </div>
    </div>
  </div>
</header>

<div class="wrapper">
  <div>
    <div class="category">
      <h1>Populares na Netflix</h1>
      <div class="carouselBox">
        <app-card *ngFor="let value of popular" [text]="value"> </app-card>
      </div>
    </div>

    <div class="category">
      <h1>Continuar assistindo como Usuário 1</h1>
      <div class="carouselBox">
        <app-card *ngFor="let value of keepWatching" [text]="value"></app-card>
      </div>
    </div>
  </div>
</div>
