<div class="container">
    <header>
        <nav>
            <div class="logo">
            <a href="/catalog">
                <img src="/assets/images/logo.png" alt="Netflix Logo" />
            </a>
            </div>
            <ul>
                <li><a href="/catalog">Início</a></li>
                <li><a href="/catalog">Séries</a></li>
                <li><a href="/catalog">Filmes</a></li>
                <li><a href="/catalog">Bombando</a></li>
                <li><a href="/catalog">Minha lista</a></li>
            </ul>
        </nav>

        <div id="title">
            <img src="/assets/images/title.png" alt="Netflix Logo" />
        </div>

        <div id="topToday">
            <div id="top10">TOP 10</div>Brasil: top 2 de hoje
        </div>

        <div id="description">
            Um agente do FBI persegue o ladrão de arte mais procurado do mundo. Ele só não esperava ter seu alvo como parceiro para prender uma bandida muito esperta.
        </div>

        <div class="btnOptions">
            <button id="btnWatch">Assistir</button>
            <button id="btnInfo">Mais informações</button>
        </div>

        <div>
            Populares na Netflix
        </div>
    </header>

     <!-- ################################################################## -->

     
    <div class="shift">
        <div class="carouselBox">
            <app-card ></app-card>
            <app-card ></app-card>
            <app-card ></app-card>
            <app-card ></app-card>
            <app-card ></app-card>
            <app-card ></app-card>
        </div>

        <div class="continue">
            Continuar assistindo como Usuário 1
        </div>

        <div class="carouselBox">
            <app-card ></app-card>
            <app-card ></app-card>
        </div>
    </div>





</div>